---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, target, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const relValue = target === '_blank' ? 'noopener noreferrer' : undefined;
---

<a class:list={[className, { 'underline underline-offset-2 decoration-1': isActive }]} href={href} target={target} rel={relValue} {...props}>
    <slot />
</a>
